section.welcome {
  background-color: #edeff1;
  padding-top: 50%;
  padding-bottom: 50%;
}
footer {
  height: 60px;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.center {
  margin: 0 auto;
}
.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
}
.dialog {
  border-top: none;
}
.container {
  padding-right: 0;
  padding-left: 0;
}

nav, footer { display: none; }
