<?xml version='1.0' encoding='utf-8'?>
<widget id="bizz.buccal.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Buccal</name>
    <description>
        Modularity Chat App
    </description>
    <author email="dev@buccal.bizz" href="http://www.buccal.bizz">
        TechCrunchApp 
    </author>
    <icon src="Bugel.png" />
    <content src="index.html" />
    <access origin="*" />
</widget>
